body,
#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100dvh;
}

.App {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: aqua;
}

.FrameRenderer {
	display: grid;
	grid-template-columns: auto fit-content auto;
	grid-template-rows: auto fit-content auto;
	width: fit-content;
	height: fit-content;
}

.FrameRenderer img[alt="edge"] {
	object-fit: fill;
	z-index: 3;
}

.FrameRenderer img[alt="corner"] {
	z-index: 3;
}

.FrameRenderer img {
	object-fit: contain;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.MainImage {
	display: flex;
	place-content: center;
	height: 60dvh;
	width: 100%;
	padding: 25px;
	box-sizing: border-box;
}

.MainImage img {
	object-fit: contain;
}

.ImageEditor {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: calc(200% / 3) calc(100% / 3);
	place-items: center;
}

.ImageEditorMenu {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: auto calc(100% / 3);
	background-color: aliceblue;
}

.MenuItemContainer {
	width: 100%;
	display: flex;
	gap: 1dvw;
	align-items: center;
	overflow-x: scroll;
	overflow-y: hidden;
}

.MenuItemContainer>* {
	height: 18dvh;
	object-fit: contain;
	box-sizing: border-box;
}

.ImageEditorButtonContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	place-items: center;
	grid-row: 2;
}

.ImageEditorButton {
	width: 100%;
	height: 100%;
	border-radius: 25px 25px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(100, 176, 243);
}

.Sticker {
	height: 100px;
	position: absolute;
	z-index: 2;
}

.CornerButton {
	position: absolute;
	height: 150px;
	width: 150px;
	background-color: red;
	border-radius: 0 0 100px 0;
	box-sizing: border-box;
	z-index: 5;
}

.DownloadButton {
	top: 0;
	right: 0;
	background-color: green;
	border-radius: 0 0 0 100px;
	box-sizing: border-box;
}

.ReturnButton {
	top: 0;
	left: 0;
	background-color: yellow;
	border-radius: 0 0 100px 0;
	box-sizing: border-box;
}