:root {
	--highlight: #f3f3f3;
	--white: #dadada;
	--black: #161616;
	--light-gray: #bebebe;
	--dark-gray: #434343;
	--border-width: min(15px, 2vmax);
}

body,
#root {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100dvh;
	color: var(--black);
}

button,
input {
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--white);
	box-sizing: border-box;
	background-color: var(--light-gray);
	transition: all 0.15s ease-out;
}

input {
	color: var(--black);
	text-align: center;
	border-width: 0;
	padding: 5px;
}

button:hover {
	background-color: var(--highlight);
	border-width: 0;
}

button:active {
	background-color: var(--black);
	color: var(--highlight);
}

input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	height: 16px;
	background: var(--dark-gray);
	border-radius: 8px;
	outline: none;
	margin: 15px 0;
	transition: background 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: var(--white);
	border-radius: 50%;
	cursor: pointer;
	border: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}

input[type="range"]::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: var(--white);
	border-radius: 50%;
	cursor: pointer;
	border: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}

input[type="range"]::-ms-thumb {
	width: 20px;
	height: 20px;
	background: var(--white);
	border-radius: 50%;
	cursor: pointer;
	border: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}

.App {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--black);
}

.ImageInput {
	color: var(--white);
	display: flex;
	gap: 10px;
	flex-direction: column;
	place-content: center;
	text-align: center;
}

.FrameRendererContainer {
	border-style: solid;
	border-color: transparent;
	pointer-events: none;
	touch-action: none;
}

.FrameRenderer {
	height: auto;
	width: auto;
	max-height: 54dvh;
	max-width: 72dvw;
	display: block;
}

.FilterSlider {
	height: 100%;
	flex-direction: column;
	place-content: center;
	text-align: center;
	color: var(--white);
	font-weight: bold;
	font-size: 1.2em;
}

.ImageEditor {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: calc(200% / 3) calc(100% / 3);
	place-items: center;
}

.ImageEditorMenu {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: auto calc(100% / 3);
	background-color: var(--black);
	box-sizing: border-box;
	border-top: var(--border-width) solid var(--white);
}

.MenuItemContainer {
	width: 100%;
	display: flex;
	gap: 1dvw;
	align-items: center;
	overflow-x: scroll;
	overflow-y: hidden;

	/* crazy lifehack */
	transform: rotateX(180deg);
}

.MenuItemContainer>* {
	height: 18dvh;
	object-fit: contain;
	box-sizing: border-box;
	transform: rotateX(180deg);
}

.ImageEditorButtonContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	place-items: center;
	grid-row: 2;
}

.ImageEditorButton {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-width: 0;
	background-color: var(--light-gray);
}

.Sticker {
	height: 100px;
	position: absolute;
	z-index: 2;
}

.CornerButton {
	position: absolute;
	height: max(15vmin, 75px);
	width: max(15vmin, 75px);
	background-color: var(--light-gray);
	z-index: 5;
}

.DownloadButton {
	top: 0;
	right: 0;
	border-width: 0 0 var(--border-width) var(--border-width);
	border-radius: 0 0 0 5px;
}

.ReturnButton {
	top: 0;
	left: 0;
	border-width: 0 var(--border-width) var(--border-width) 0;
	border-radius: 0 0 5px 0;
}

.material-symbols-outlined {
	font-size: 2.5em;
	color: var(--black);
}